@import "../components/body";

svg line#separator {
  animation: dash 3s linear forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#github :hover {
  transform: scale(1.1);
}

#github-a {
  width: 25%;
  margin: 0;
  margin-left: 50%;
}

#github {
  width: 5%;
  height: 5%;
}

footer {
  height: 200px;
  background-color: $color1;
  z-index: 999;
}

/* Triangles */
svg#triangle-1 {
  pointer-events: none;
}

.tri-1-wrap {
  background: $color1;
}

#triangle-1 path {
  fill: #022c43;
  stroke: #022c43;
  stroke-width: 2;
}
