@import "../components/body";

svg line#separator {
  animation: dash 3s linear forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#github a :hover {
  transform: scale(1.1);
}

#github-a {
  margin: 0 auto;
}

#github {
  width: 100%;
  background: $color2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #252525,
    $color1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #252525,
    $color1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 auto;
  padding: 0.5%;

  @media only screen and (max-width: 380px) {
    width: 100%;
  }
}

footer {
  padding-top: 4%;
  text-align: center;
  height: 200px;
  background-color: #022c43;
  z-index: 999;
  height: auto;
}

/* Triangles */
svg#triangle-1 {
  pointer-events: none;
}

.tri-1-wrap {
  background: $color1;
  padding-bottom: 5%;
}

#triangle-1 path {
  fill: #eef2ff;
  stroke: #022c43;
  stroke-width: 2;
}

.form-container {
  width: 40%;
  margin: 0;
  text-align: center;
  padding: 3rem 0;
  @media only screen and (max-width: 600px) {
    padding: 1rem;
    width: 100%;
  }
  @media screen and (max-width: 414px) {
    width: 100%;
  }
}

.form-contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  outline: none;
  background-color: transparent;

  input,
  textarea {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    color: white;
    background-color: #252525;
  }
  span {
    color: white;
    font-size: 0.9rem;
  }
}

input[type="email"],
input[type="email"]:not(output):not(:focus),
input[type="text"],
input[type="text"]:not(output):not(:focus),
textarea {
  border-bottom: 1px solid #fafafa;
  background: transparent;
  color: #fafafa;
  font-size: 1.8rem;
  box-shadow: none;
  outline: none;
  background-color: #252525;
}

#submit-form {
  color: white;
  z-index: 1000;
  height: 40px;
  width: 40px;
  left: 38%;
  @media only screen and (max-width: 600px) {
    left: 30%;
  }
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
}

.contact-info {
  overflow: hidden;
}

lottie-player {
  width: 2.5%;
  @media only screen and (max-width: 600px) {
    width: 5.5%;
  }
  @media only screen and (min-width: 600px) {
    width: 1.8%;
  }
  svg {
    background-color: white;
  }
}

#clouds {
  height: 135px;
  width: 100%;
}

.fa-envelope,
.fa-location-dot,
.fa-linkedin {
  color: white;
}

.contact-section {
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;
  align-items: baseline;
  @media screen and (max-width: 414px) {
    display: block;
  }
  @media only screen and (max-width: 600px) {
    display: block;
  }
}
